@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Models.MyModel>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
    <body>
        <div id="mainContainer">Hello @Model.Name</div>

        @Html.AntiForgeryToken()
    </body>
</html>
